/* Styling for resume page component */

.res-center-col > .row {
    width: 70%;
    margin-left: auto; margin-right: auto;
}

.res-body-row {
    margin-top: 1%;
    height: 70vh;

    border-bottom: 4px solid white;
}

.res-header-row {
    margin-top: 5%;
    font-size: 1.2em;
}


.resume-wrapper.res {
    max-height: 68vh;
    overflow-y: scroll;
}

.resume-wrapper::-webkit-scrollbar {
    background-color: transparent;
}

.res-child-border > canvas {
    border: 4px solid black;
    border-radius: 15px;
}

/* Mobile Styling */

.mob-res.body {
    margin-top: 12%;
    margin-bottom: 15%;
}

.mob-res.body > .col > * {
    margin: auto;
}


.download-wrapper {
    max-width: fit-content;

    margin-top: 0% !important;
    border: 3px solid var(--secondary-col);
    border-radius: 10px;
}

    .download-wrapper:hover {
        background-color: var(--trans-grey);
    }

.download {
    color: var(--prim-font-col);
    text-decoration: none;
}

    .download:visited {
        color: inherit;
    }