/* Styling for major components on homepage of app */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&family=Special+Elite&display=swap');

/* Page Structure */

.center-col {
    text-align: center;
}

.hh-outer-row {
    width: 90%;
    min-width: 1200px;
    max-width: 1600px;
    min-height: 800px;
}

/* # # # # # */


/* Page Title */
.hh-header-row {
    min-height: 10vh;
    border-bottom: 4px var(--secondary-col) solid;

    padding-bottom: 10px;
}

.header-col {
    text-align: left;
    position: relative;
    bottom: 0;
}

.name-title-wrapper {
    position: absolute;
    bottom: 0px;    
}

.name-title {
    /* font-family: 'Roboto Slab', serif; */
    font-family: 'Special Elite', cursive;
    font-size: 4em;
    letter-spacing: 0.1em;

    -webkit-transform: scale(1, 1.25);
    -moz-transform: scale(1, 1.25);
    -o-transform: scale(1, 1.25);

    margin-bottom: 0;
    line-height: 1.1;

    vertical-align: text-bottom;
}

.quote-wrapper {
    text-align: center;
    font-family: var(--subtitle-font);
}

.header-quote {
    font-style: italic;
    font-size: 1.4em;
    font-weight: 500;
}

.header-quote-attrib {
    font-size: 1.5em;
    font-weight: 600;
}




/* # # # # # */



/* Page Body */
:root {
    --hh-module-grid-height: 550px;
}

.hh-body-row {
    height: 70vh;
    min-height: 800px; 
    width: 84%;
    min-width: 1200px;
    margin: auto;
}

.hh-module-grid-wrapper {
    margin-top: 120px;
    height: var(--hh-module-grid-height);
}

.hh-module-grid-wrapper > .row {
    min-height: calc(var(--hh-module-grid-height)/2);
}

.hh-module-grid-wrapper > .row > .col {
    position: relative;
}


/* # # # # # */


/* Modules */
:root {
    --hh-module-font-size: 2.2em;
        --hh-module-title-offset: 2.6;   /* Distance title is offset from top of div in units of -hh-title-font-size */
}

.hh-module-wrapper {
    width: 70%;
    height: 100%;
    margin: auto;

    text-align: center;
    position: relative;
    font-size: var(--hh-module-font-size);
}


.hh-module-wrapper:hover {
    cursor: pointer;
}

.hh-image-wrapper {
    border: 4px solid var(--secondary-col);
    border-radius: 18px;
    
    position: absolute;
    top: calc(var(--hh-module-font-size)*.7);
    left: 0; right: 0;
    margin: auto;
}

.hh-title-wrapper {
    font-family: var(--subtitle-font);
    font-weight: 600;
    letter-spacing: 1px;

    position: absolute;
    left: 0; right: 0;
    top: calc(var(--hh-module-font-size)*var(--hh-module-title-offset));
    margin: auto;
}

.hh-title-wrapper-hover {
    top: 0;
    animation: hh-fadein 1.5s;
        -webkit-animation: hh-fadein 1.5s;
}

    @keyframes hh-fadein {
        0% { opacity: 0 }
        100% { opacity: 1 }
    }

/* # # # # # */

/* Drop Down */

.hh-drop-down-wrapper-div {
    display: none;

    position: absolute;
    width: 78%;
    top: calc(var(--hh-module-font-size)*var(--hh-module-title-offset));
    left: 0; right: 0;
    margin: auto;
    margin-top: 2%;
    
    text-align: left;
    font-family: var(--subtitle-font);
}

.hh-dd-hover {
    display: block;
}

.hh-drop-down-table {
    margin: auto;
    width: 100%;

    border-collapse: separate;
    
}

.hh-drop-down-table > tbody > tr > td {
    background-color: var(--tert-col);
    font-size: 0.8em;
    font-weight: 500;
    white-space: nowrap;
    word-wrap: unset;
    overflow: none;

    line-height: 1.1;
    border: 2px var(--primary-col) solid;
    border-radius: 4px;

    text-align: center;
}

.hh-drop-down-table > tbody {
    perspective: 1000px; /* 3D animation effect */
}


.hh-drop-down-table > tbody > tr > td > div {
    position: relative;
}


.hh-drop-down-table > tbody > tr > td > div::before {
    content: "=";
    position: absolute;
    left: 6px;
    top: -9px;

    font-weight: 1000;
    font-size: 1.5em;
}

/* # # # # # */